/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #f6f0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.logo img {
  height: 70px;   /* adjust smaller */
  width: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #0d793d;
  font-size: 20px;
  transition: 0.3s ease;
  font-family: "sofia-pro-soft", sans-serif;
  font-weight: 700;
  font-style: normal; 
}

.nav-links a:hover {
  color: #0d793d;
  font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.reserve-btn {
  padding: 8px 18px;
  border: 3px solid #0d793d;
  border-radius: 20px;
}

.reserve-btn:hover {
  background: #8fc6a8;
  
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #222;
  border-radius: 2px;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 8px 15px rgba(0,0,0,0.05);
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}